#funcionamento{
    display:flex;
    height:100vh;
    justify-content: space-evenly;
    width: 100%;
    /* margin-top: 50px; */
    h3{
        text-align:center;
    }

    .filter-text-container{
        display: grid;
        gap:1rem;
    }
  
    .filterable-texts .card.fcard-hide{
      display:none;
    }
    .filter-texts{
        display:flex;
        /* align-items: center; */
        justify-content:center;
        gap:8px;
    }
    button{
        font-size: 20px;
    }
  
}


@media screen and (max-width: 768px) {
    .filter-texts{
        flex-direction: column;
    }

}
