.hero {
  margin-top: 10vh;
  min-width: 90vw;
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  place-content: center;
  align-items: center;
  gap: 2.5rem;
}

.hero article {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.hero article a {
  margin-top: 2rem;
  width: fit-content;
  padding: 1rem;
  border-radius: 4px;
  color: #ffffff;
  font-weight: 600;
  text-align: center;
}

.next {
  display: none;
  flex-direction: column;
  margin: 0 auto;
  animation: float 2s ease-in-out infinite;

}

.hero-svg{
  display: flex;
  justify-content: center;
  max-width: 500px;
  max-height: 500px;
  filter: drop-shadow(2px 4px 100px #2D213C);
}


@keyframes float {

  0%,
  100% {
    transform: translatey(0)
  }

  50% {
    transform: translatey(-10px)
  }
}

@media screen and (max-width: 768px) {
  .hero {
    display: flex;
    flex-direction: column-reverse;
    gap: .5rem;
  }

  .hero figure{
    display: flex;
    justify-content: center;
  }

  .hero-svg{
    width: 400px;
    height: 400px;
  }

  .hero article {
    gap: .25rem;
  }

  .hero article h2 {
    font-size: 2rem;
    letter-spacing: 0;
    text-align: center;
    word-spacing: 0;
  }
  .hero article p,
  .hero article a {
    display: none;
  }

  .hero article a.next {
    display: flex;
  }
}

svg#freepik_stories-innovation:not(.animated) .animable {
  opacity: 0;
}
svg#freepik_stories-innovation.animated #freepik--Background--inject-68 {
  animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) fadeIn;
  animation-delay: 0s;
}
svg#freepik_stories-innovation.animated #freepik--Sparkles--inject-68 {
  animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
  animation-delay: 0s;
}
svg#freepik_stories-innovation.animated #freepik--gears-2--inject-68 {
  animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) slideDown,6s Infinite  linear wind;
  animation-delay: 0s,1.5s;
}
svg#freepik_stories-innovation.animated #freepik--gears-1--inject-68 {
  animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) slideUp,6s Infinite  linear wind;
  animation-delay: 0s,2s;
}
svg#freepik_stories-innovation.animated #freepik--Character--inject-68 {
  animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) fadeIn,6s Infinite  linear wind;
  animation-delay: 0s,1s;
}
svg#freepik_stories-innovation.animated #freepik--light-bulb--inject-68 {
  animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut,1.5s Infinite  linear floating;
  animation-delay: 0.0s,1s;
}            

@keyframes fadeIn {                
  0% {                    
    opacity: 0;                
  }                
  100% {                    
    opacity: 1;                
  }            
}                    
@keyframes zoomIn {                
  0% {                    
    opacity: 0;                    
    transform: scale(0.5);                
  }                
  100% {                    
    opacity: 1;                    
    transform: scale(1);                
  }            
}                    
@keyframes slideDown {                
  0% {                    
    opacity: 0;                    
    transform: translateY(-30px);                
  }                
  100% {                    
    opacity: 1;                    
    transform: translateY(0);                
  }            
}                    
@keyframes wind {                
  0% {                    
    transform: rotate( 0deg );                
  }                
  25% {                    
    transform: rotate( 1deg );                
  }                
  75% {                   
    transform: rotate( -1deg );                
  }            
}                    
@keyframes slideUp {                
  0% {                    
    opacity: 0;                    
    transform: translateY(30px);                
  }                
  100% {                    
    opacity: 1;                    
    transform: inherit;                
  }            
}                    
@keyframes zoomOut {                
  0% {                    
    opacity: 0;                    
    transform: scale(1.5);                
  }                
  100% {                    
    opacity: 1;                    
    transform: scale(1);               
  }            
}                    
@keyframes floating {                
  0% {                    
    opacity: 1;                    
    transform: translateY(0px);                
  }                
  50% {                    
    transform: translateY(-10px);                
  }                
  100% {                    
    opacity: 1;                    
    transform: translateY(0px);                
  }            
}        