#freepik_stories-innovation:not(.animated) .animable {opacity: 0;}
#freepik_stories-innovation.animated #freepik--gears-2--inject-68 {animation: 6s Infinite  linear wind;animation-delay: 0s;}svg#freepik_stories-innovation.animated #freepik--gears-1--inject-68 {animation: 3s Infinite  linear wind;animation-delay: 0s;}
#freepik_stories-innovation.animated #freepik--Character--inject-68 {animation: 6s Infinite  linear floating;animation-delay: 1s;}
object#freepik_stories-innovation.animated #freepik--light-bulb--inject-68 {animation: 3s Infinite  linear floating;animation-delay: 1s;} 

@keyframes wind {                
    0% {                    
        transform: rotate( 0deg );                
    }                
    25% {                    
        transform: rotate( 1deg );                
    }                
    75% {                    
        transform: rotate( -1deg );                
    }            
}    

@keyframes floating {                
    0% {                    
        opacity: 1;                    
        transform: translateY(0px);                
    }                
    50% {                    
        transform: translateY(-10px);                
    }                
    100% {                    
        opacity: 1;                    
        transform: translateY(0px);                
    }            
}        